<%= simple_form_for(@quote) do |f| %>
  <div class="row">
    <div class="col-8">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  </div>

  <div class="form-inputs">
    <div class="row">
      <% if current_user.profile.user_type == "pro" %>
        <div class="col-3">
          <div>
            <%= f.label :service_hour %>
          </div>
          <div>
            <%= f.number_field :service_hour, in: 1..99, step: 0.5, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-6">
          <div>
            <%= f.label :total_cost %>
          </div>
          <div>
            <%= f.number_field :total_cost, in: 1..99, step: :any, required: true, class: "form-control" %>
          </div>
        </div>
        <%= f.hidden_field :status, value: "Quote sent."  %>
      <% elsif current_user.profile.user_type == "customer" %>
        <%= f.hidden_field :status, value: "Rejected."  %>
      <% end %>
  </div>

  <div class="form-actions mt-4">
    <div class="row">
      <% if current_user.profile.user_type == "pro" %>
        <div class="col-3">
          <%= f.button :submit, "Send Quote", class: "btn btn-submit" %>
        </div>
      <% elsif current_user.profile.user_type == "customer" %>
        <div class="col-3">
          <%= f.button :submit, "Reject", class: "btn btn-outline" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
