<% content_for(:html_title) { 'Quote' } %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <!-- Listing Information -->
        <div class="row">
          <div class="col-md-5">
            <% if @quote.request.listing.image.attached? %>
              <%= image_tag(@quote.request.listing.image, size: "150x112") %>
            <% else %>
              <%= image_tag("placeholder.jpg", size: "150x112") %>
            <% end %>
          </div>
          <div class="col-md-7">
            <h2 class="form-heading mt-0"><%= @quote.request.listing.title %></h2>
            Rate per Hour: <br />
            <%= number_to_currency(@quote.request.listing.rate_per_hour) %> <br /><br />
            <%= link_to "Check Listing", listing_path(@quote.request.listing.id) %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Customer Information -->
        <div class="row">
          <div class="col-md-5">
            <% if @quote.request.property.profile.image.attached? %>
              <%= image_tag(@quote.request.property.profile.image, size: "150x112") %>
            <% else %>
              <%= image_tag("avatar.png", size: "150x112") %>
            <% end %>
          </div>
          <div class="col-md-7">
            <h2 class="form-heading mt-0">Customer</h2>
            Name: <br />
            <%= @quote.request.property.profile.first_name %> <%= @quote.request.property.profile.last_name %>
          </div>
        </div>
      </div>
    </div>

    <!-- Property Profile -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Property Profile</h2>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-12">
                <%= @quote.request.property.property_type %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= @quote.request.property.storey %>-Storey
              </div>
              <div class="col-md-4">
                <%= @quote.request.property.bed %>-Bed
              </div>
              <div class="col-md-4">
                <%= @quote.request.property.bath %>-Bath
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <%= @quote.request.property.street_address %> <br />
                <%= @quote.request.property.suburb.suburb %>, <%= @quote.request.property.suburb.state %> <%= @quote.request.property.suburb.postcode %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-12">
                <%= @quote.request.property.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Service Time -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Service Time</h2>
      </div>
      <div class="col-md-6">
        Date <br />
        <%= @quote.request.service_date.strftime("%A, %d-%B-%Y") %>
      </div>
      <div class="col-md-6">
        Start Time <br />
        <%= @quote.request.start_time.strftime("%H:%M") %>
      </div>
    </div>

    <!-- Cleaner form to send/view quote -->
    <% if @profile.user_type == "pro" %>
      <div class="row">
        <div class="col-12">
          <h2 class="form-heading">Quote #<%= @quote.id %></h2>
        </div>
        <div class="col-12">
          <% if @quote.status.downcase == "request for a quote." %>
            <%= render 'quotes/form' %>
          <% elsif (@quote.status.downcase == "quote sent.") || (@quote.status.downcase == "rejected.") %>
            <div class="row">
              <div class="col-md-3">
                Hours <br />
                <%= @quote.service_hour %>
              </div>
              <div class="col-md-3">
                Total Cost <br />
                <%= number_to_currency(@quote.total_cost) %>
              </div>
              <div class="col-md-6">
                Status <br />
                <%= @quote.status %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Customer form to Approve or Reject quote -->
    <% if (@profile.user_type == "customer") && (@quote.status.downcase != "request for a quote.")  %>
      <div class="row">
        <div class="col-12">
          <h2 class="form-heading">Quote #<%= @quote.id %></h2>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-3">
              Hours <br />
              <%= @quote.service_hour %>
            </div>
            <div class="col-md-3">
              Total Cost <br />
              <%= number_to_currency(@quote.total_cost) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @quote.status.downcase != "rejected." %>
          <!-- To decide -->
          <div class="col-md-3">
            <%= link_to "Approve", jobs_path(date: @quote.request.service_date, service_hour: @quote.service_hour, total_cost: @quote.total_cost, quote_id: @quote.id), method: :post, class: "btn btn-submit mt-4" %>
          </div>
          <div class="col-md-3">
            <%= render 'quotes/form' %>
          </div>
        <% elsif @quote.status.downcase == "rejected." %>
          <!-- If rejected -->
          <div class="col-12 mt-3">
            Status <br />
            <span class="text-danger"><strong><%= @quote.status %></strong></span>
          </div>
        <% end %>
      </div>
    <% elsif (@profile.user_type == "customer") && (@quote.status.downcase == "request for a quote.")  %>
      <div class="row">
        <div class="col-12 mt-3">
          Status <br />
          A request for a quote has been sent to the cleaner. Awaiting for response.
        </div>
      </div>
    <% end %>

    <% if (@profile.user_type == "customer") %>
      <!-- Display Cleaner's information -->
      <div class="row">
        <div class="col-12">
          <h2 class="form-heading">Pro Cleaner</h2>
        </div>
        <div class="col-md-4">
          <% if @quote.request.listing.profile.image.attached? %>
            <%= image_tag(@quote.request.listing.profile.image, size: "150x112") %>
          <% else %>
            <%= image_tag("avatar-pro.png", size: "150x112") %>
          <% end %>
        </div>
        <div class="col-md-4">
          Name: <br />
          <%= @quote.request.listing.profile.first_name %> <%= @quote.request.listing.profile.last_name %> <br /><br />
          National Police Check: <br />
          <%= @quote.request.listing.profile.documentation.npc_reference %>
        </div>
        <div class="col-md-4">
          ABN: <br />
          <%= @quote.request.listing.profile.documentation.abn_number %> <br /><br />
          Insured: <br />
          <%= @quote.request.listing.profile.documentation.insured ? "Yes" : "No" %>
        </div>
        <div class="col-12 mt-5">
          <%= link_to "Show Cleaner Profile", profile_path(@quote.request.listing.profile.id) %>
        </div>
      </div>

      <!-- Show reviews -->
      <% if @reviews.any? %>
        <div class="row mt-3">
          <h2 class="form-heading">Review</h2>
        </div>
        <div class="row mt-3">
          <%= render "partials/card_reviews", review_details: @review_details %>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-md-3 mt-4">
        <%= link_to "Back", quotes_path %>
      </div>
    </div>
  </div>
</div>
