<div class="row justify-content-center">
  <div class="col-8">
    <%= simple_form_for(@profile) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
      </div>

      <div class="form-inputs">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <%= f.input :first_name %>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <%= f.input :last_name %>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <%= f.input :phone %>
            </div>
            </div>
          <div class="col-6">
            <div class="mb-3">
              <%= f.hidden_field :user_type, value: user_type %>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <!-- Image upload for profile picture -->
              <%= f.label :image, "Upload Profile Picture", class: "mt-5" %>
              <%= f.file_field :image, multiple: false, direct_upload: true, class: "mt-3" %>
            </div> 
          </div>
        </div>

        <% if user_type == "pro" %>
          <h2 class="form-heading">Documentation</h2>
          <!-- Fields for Documentation -->
          <%= f.fields_for :documentation do |documentation_form| %>
            <%= documentation_form.error_notification %>
            <%= documentation_form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          
            <div class="form-inputs">
              <div class="row">
                <div class="col-6">
                  <div>
                    <%= documentation_form.input :npc_reference, label: "National Police Check Reference Number" %>
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <%= documentation_form.input :abn_number, label: "ABN" %>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <div>
                    <%= documentation_form.input :insured, label: "Do you have a Public Liability insurance?", as: :radio_buttons %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% elsif user_type == "customer" %>
          <h2 class="form-heading">Property Information</h2>
          <!-- Fields for Property-->
          <%= f.fields_for :property do |property_form| %>
            <%= property_form.error_notification %>
            <%= property_form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          
            <div class="form-inputs">
              <div class="row">
                <div class="col-6">
                  <div>
                    <%= property_form.label :property_type, "Property Type" %>
                  </div>
                  <div>
                    <%= property_form.select :property_type, ["Apartment/Flat", "House", "Villa/Townhouse"], class: "form-control" %>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                    <%= property_form.label :storey %>
                  </div>
                  <div>
                    <%= property_form.number_field :storey, in: 1..99, class: "form-control" %>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                    <%= property_form.label :bed %>
                  </div>
                  <div>
                    <%= property_form.number_field :bed, in: 1..99, class: "form-control" %>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                    <%= property_form.label :bath %>
                  </div>
                  <div>
                    <%= property_form.number_field :bath, in: 1..99, class: "form-control" %>
                  </div>
                </div>
              </div>

              <!-- Property Address -->
              <div class="mb-3">
                <%= property_form.input :street_address %>
              </div>
              <div class="mb-3">
                <%= property_form.label :suburb_id, "Suburb" %>
                <%= property_form.select(:suburb_id, suburbs.map{|suburb| [suburb.name, suburb.id]}) %>
                <%#= property_form.label :state_id, "State" %>
                <%#= property_form.select(:state_id, states.map{|state| [state.name, state.id]}) %>
                <%#= property_form.label :postcode_id, "Postcode" %>
                <%#= property_form.select(:postcode_id, postcodes.map{|postcode| [postcode.number, postcode.id]}) %>
              </div>
              <div class="mb-3">
                <%= property_form.input :description, required: false %>
                <%#= property_form.association :profile %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="form-actions">
        <% if current_page?(new_profile_path) %>
          <%= f.button :submit, "Create", class: "btn btn-submit" %>
        <% elsif current_page?(edit_profile_path) %>
          <%= f.button :submit, "Update", class: "btn btn-submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
