<% content_for(:html_title) { 'My Profile' } %>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="row">
      <div class="col-6">
        <%= image_tag(@profile.image, size: "300x300") %>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading name-title"><%= @profile.first_name %> <%= @profile.last_name %></h2>
          </div>
          <div class="col-12">
            Phone: <br />
            <%= @profile.phone %>
          </div>
          <% if @profile.user_type == "pro" && @documentation %>
            <!-- Show Documentation -->
            <div class="col-12">
              <h2 class="form-heading">Documentation</h2>
              NPC Reference: <br />
              <%= @documentation.npc_reference %> <br /><br />
              ABN: <br />
              <%= @documentation.abn_number %> <br /><br />
              Public Liability Insurance: <br />
              <%= @documentation.insured %>
            </div>
          <% elsif @profile.user_type == "customer" && @property %>
            <!-- Property -->
            <div class="col-12">
              <h2 class="form-heading">Property Information</h2>
              <%= @property.property_type %>
            </div>
            <div class="col-4">
              <%= @property.storey %>-Storey
            </div>
            <div class="col-4">
              <%= @property.bed %>-Bed
            </div>
            <div class="col-4">
              <%= @property.bath %>-Bath
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @profile.user_type == "customer" && @property %>
      <!-- Address -->
      <div class="row">
        <div class="col-12">
          <h2 class="form-heading">Address</h2>
          <div class="row">
            <div class="col-6">
              <%= @property.street_address %> <br />
              <%= @property.suburb.name %>, <%#= @property.suburb.postcode.state.name %> <%#= @property.suburb.state.postcode.number %>
            </div>
            <div class="col-6">
              Description: <br />
              <%= @property.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row mt-5">
      <div class="col-2">
        <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-outline" %>
      </div>
      <div class="col-2 mt-2">
        <%= link_to 'Back', profiles_path %>
      </div>
    </div>
  </div>
</div>
