<% if @viewer.user_type == @profile.user_type %>
  <% content_for(:html_title) { 'My Profile' } %>
<% else %>
  <% content_for(:html_title) { @profile.first_name + ' ' + @profile.last_name } %>
<% end %>

<div class="row justify-content-center">
  <div class="col-8">
    <div class="row">
      <div class="col-md-6">
        <% if @profile.image.attached? %>
          <%= image_tag(@profile.image, class: "thumb-300 mb-5") %>
        <% else %>
          <% if current_user.profile.user_type == "pro" %>
            <%= image_tag("avatar-pro.png", class: "thumb-300 mb-5") %>
          <% else %>
            <%= image_tag("avatar.png", class: "thumb-300 mb-5") %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading name-title"><%= @profile.first_name %> <%= @profile.last_name %></h2>
          </div>
          <div class="col-12">
            Phone: <br />
            <%= @profile.phone %>
          </div>
          <% if @profile.user_type == "pro" && @documentation %>
            <!-- Show Documentation -->
            <div class="col-12">
              <h2 class="form-heading">Documentation</h2>
              NPC Reference: <br />
              <%= @documentation.npc_reference %> <br /><br />
              ABN: <br />
              <%= @documentation.abn_number %> <br /><br />
              Public Liability Insurance: <br />
              <%= @documentation.insured ? "Yes" : "No" %>
            </div>
          <% elsif @profile.user_type == "customer" && @property %>
            <!-- Property -->
            <div class="col-12">
              <h2 class="form-heading">Property Information</h2>
              <%= @property.property_type %>
            </div>
            <div class="col-md-4">
              <%= @property.storey %>-Storey
            </div>
            <div class="col-md-4">
              <%= @property.bed %>-Bed
            </div>
            <div class="col-md-4">
              <%= @property.bath %>-Bath
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @profile.user_type == "customer" && @property %>
      <!-- Address -->
      <div class="row">
        <div class="col-12">
          <h2 class="form-heading">Address</h2>
          <div class="row">
            <div class="col-md-6">
              <%= @property.street_address %> <br />
              <%= @property.suburb.suburb %>, <%= @property.suburb.state %> <%= @property.suburb.postcode %>
            </div>
            <div class="col-md-6">
              Description: <br />
              <%= @property.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Edit button to edit owned profile -->
    <% if current_user.profile.id == @profile.id %>
      <div class="row mt-5">
        <div class="col-12">
          <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-outline" %>
        </div>
      </div>
    <% end %>

    <!-- Show all listings owned -->
    <% if user_signed_in? && @profile.user_type == "pro" && @listings.any? %>
      <div class="row mt-3">
        <h2 class="form-heading">Services Provided</h2>
      </div>
      <div class="row mt-3">
        <ul>
          <% @listings.each do |listing| %>
            <li><%= link_to listing.title, listing_path(listing.id) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <!-- Show reviews -->
    <% if @profile.user_type == "pro" && @reviews.any? %>
      <div class="row mt-3">
        <h2 class="form-heading">Reviews</h2>
      </div>
      <div class="row mt-3">
        <%= render "partials/card_reviews", review_details: @review_details %>
      </div>
    <% end %>
  </div>
</div>
