<% content_for(:html_title) { 'Registration' } %>

<div class="row justify-content-center">
  <div class="col-md-5">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="mb-3">
          <%= f.input :email,
                      placeholder: "e.g., emailaddress@mail.com",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div class="mb-3">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="mb-3">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <!-- Pass between controller -->
          <%= f.hidden_field(:user_type, value: params[:user_type], name: 'user_type') if params[:user_type] %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign Up", class: "btn btn-outline" %>
      </div>
    <% end %>
  </div>
</div>
