<div class="row justify-content-center">
  <div class="col-8">
    <%= simple_form_for(@listing) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
      </div>

      <div class="form-inputs">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <%= f.input :title %>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <%= f.input :description %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <%= f.input :rate_per_hour, input_html: { min: '1', step: 'any' } %>
            </div>
          </div>

          <h2 class="form-heading">Service Area</h2>
          <!-- Service Area -->
          <%= f.fields_for :service_areas do |service_areas_form| %>
            <div class="col-md-6">
            <%= service_areas_form.label :suburb_id, "Suburb" %>
            <%= service_areas_form.select(:suburb_id, suburbs.map{|suburb| [suburb.name, suburb.id]}) %>
            <% service_areas_form.hidden_field :listing_id, value: params[:id] %>
            </div>
            <div class="col-md-3">
              <%= service_areas_form.fields_for :postcode do |postcode_form| %>
                <%= postcode_form.label :state_id, "State" %>
                <%= postcode_form.select(:state_id, states.map{|state| [state.name, state.id]}) %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= service_areas_form.fields_for :suburb do |suburb_form| %>
                <%= suburb_form.label :postcode_id, "Postcode" %>
                <%= suburb_form.select(:postcode_id, postcodes.map{|postcode| [postcode.number, postcode.id]}) %>
              <% end %>
            </div>
          <% end %>
        
          <div class="col-12">
          <!-- Image upload for profile picture -->
          <%= f.label :image, "Upload Listing Picture", class: "mt-5" %> <br />
          <%= f.file_field :image, multiple: false, direct_upload: true, class: "mt-3" %>
          </div>
      </div>

      <div class="form-actions">
        <div class="row">
          <div class="col-2">
            <%= f.button :submit, "Create", class: "btn btn-submit" %>
          </div>
          <div class="col-2 mt-2">
            <%= link_to 'Back', listings_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
