<div class="row justify-content-center">
  <div class="col-md-8">
    <%= simple_form_for(@listing) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
      </div>

      <div class="form-inputs">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <%= f.input :title %>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <%= f.input :description %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <%= f.input :rate_per_hour, input_html: { min: '1', step: 'any' } %>
            </div>
          </div>

          <h2 class="form-heading">Service Area</h2>
          <!-- Service Area -->
          <fieldset id="service_area_list">
            <div class="ui-widget row">
              <%= render 'partials/suburb_instruction' %>
              <% if @service_areas_suburbs %>
                <% @service_areas_suburbs.each do |area| %>
                  <div class="col-md-6">
                    <%= label_tag("suburbs[]", "Suburb") %>
                    <%= text_field_tag("suburbs[]", area.suburb, class: "suburb form-control") %>
                  </div>
                  <div class="col-md-3">
                    <%= label_tag("states[]", "State") %>
                    <%= text_field_tag("states[]", area.state, class: "form-control", readonly: true) %>
                  </div>
                  <div class="col-md-3">
                    <%= label_tag("postcodes[]", "Postcode") %>
                    <%= text_field_tag("postcodes[]", area.postcode, class: "form-control", readonly: true) %>
                  </div>
                <% end %>
              <% else %>
                <div class="col-md-6">
                  <%= label_tag("suburbs[]", "Suburb") %>
                  <%= text_field_tag("suburbs[]", "", class: "suburb form-control") %>
                </div>
                <div class="col-md-3">
                  <%= label_tag("states[]", "State") %>
                  <%= text_field_tag("states[]", "", class: "form-control", readonly: true) %>
                </div>
                <div class="col-md-3">
                  <%= label_tag("postcodes[]", "Postcode") %>
                  <%= text_field_tag("postcodes[]", "", class: "form-control", readonly: true) %>
                </div>
              <% end %>
            </div>
          </fieldset>

          <!-- Button to add more or remove service areas -->
          <div class="row mt-5">
            <div class="col-md-12">
              <input type="button" id="add_service_area" class="btn btn-outline" value="Add Service Area" />
            </div>
          </div>
        
          <div class="col-12">
          <!-- Image upload for profile picture -->
          <%= f.label :image, "Upload Listing Picture", class: "mt-5" %> <br />
          <%= f.file_field :image, multiple: false, direct_upload: true, class: "mt-3" %>
          </div>
      </div>

      <div class="form-actions">
        <div class="row">
          <div class="col-12">
            <%= f.button :submit, "Save", class: "btn btn-submit" %>
          </div>
          <div class="col-12 mt-5">
            <%= link_to 'Back', listings_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- jQuery UI Autocomplete Custom Data -->
<script type="text/javascript">
  $(function() {
    $(document).on('keydown.autocomplete', '.suburb', function() {
      $(this).autocomplete({
        minLength: 4,
        source: '<%= suburbs_path(:json) %>',
        focus: function(event, ui) {
          $(this).val(ui.item.suburb);
          return false;
        },
        select: function(event, ui) {
          $(this).val(ui.item.suburb);
          $(this).parent().nextAll('div').first().children().nextAll('input').first().val(ui.item.state);
          $(this).parent().nextAll('div').eq(1).children().nextAll('input').first().val(ui.item.postcode);
          return false;
        }
      })
      .autocomplete('instance')._renderItem = function(ul, item) {
        return $('<li>')
          .append('<div>' + item.suburb + ', ' + item.state + ' ' + item.postcode + '</div>')
          .appendTo(ul);
      };
    });

    // javascript to add/remove input field based on https://newbedev.com/add-remove-input-field-dynamically-with-jquery
    $('#add_service_area').click(function() {
      var service_area = $('<div class="ui-widget row" />');
      var suburb = $('<div class="col-md-4"><%= label_tag("suburbs[]", "Suburb") %><%= text_field_tag("suburbs[]", "", class: "suburb form-control") %></div>');
      var state = $('<div class="col-md-2"><%= label_tag("states[]", "State") %><%= text_field_tag("states[]", "", class: "form-control", readonly: true) %></div>');
      var postcode = $('<div class="col-md-2"><%= label_tag("postcodes[]", "Postcode") %><%= text_field_tag("postcodes[]", "", class: "form-control", readonly: true) %></div>');
      var remove_service_area = $('<div class="col-md-3 d-flex align-items-end"><input type="button" class="btn btn-outline mt-3" value="Remove" /></div>')
      remove_service_area.click(function() {
        $(this).parent().remove();
      });
      service_area.append(suburb);
      service_area.append(state);
      service_area.append(postcode);
      service_area.append(remove_service_area);
      $('#service_area_list').append(service_area);
    });
  });
</script>
