<% content_for(:html_title) { @listing.title } %>

<div class="row justify-content-center">
  <div class="col-8">
    <div class="row">
      <div class="col-md-6">
        <% if @listing.image.attached? %>
          <%= image_tag(@listing.image, size: "300x300") %>
        <% else %>
          <%= image_tag("placeholder.jpg", size: "300x300") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading name-title"><%= @listing.title %></h2>
          </div>
          <div class="col-12">
            Rate per Hour: <br />
            $<%= @listing.rate_per_hour %>
          </div>
          <div class="col-12 mt-3">
            Description: <br />
            <%= @listing.description %>
          </div>
        </div>
      </div>
    </div>
    
    <% if current_user && current_user.profile %>
      <% if @profile.user_type == "pro" %>
        <!-- Service Areas -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">Service Areas</h2>
            <ul>
              <% @service_areas.to_a.each do |area| %>
                <li><%= area.suburb.name %>, <%= area.suburb.postcode.state.name %> <%= area.suburb.postcode.number %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Show edit and back to my listings button -->
        <div class="row mt-3">
          <div class="col-2">
            <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-outline" %>
          </div>
        </div>
      <% elsif @profile.user_type == "customer" %>
        <!-- Display Customer's Property information -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">My Property Profile</h2>
          </div>
          <div class="col-md-6">
            <p><%= @profile.property.property_type %></p>
          </div>
          <div class="col-md-6">
            <p><%= @profile.property.description %></p>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <p><%= @profile.property.storey %> - Storey</p>
                  </div>
                  <div class="col-md-4">
                    <p><%= @profile.property.bed %> - Bed</p>
                  </div>
                  <div class="col-md-4">
                    <p><%= @profile.property.bath %> - Bath</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <p>
                  <%= @profile.property.street_address %> </br>
                  <%= @profile.property.suburb.name %>, <%= @profile.property.suburb.postcode.state.name %>, <%= @profile.property.suburb.postcode.number %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Display Customer's Request form -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">Service Time</h2>
          </div>
          <div class="col-12">
            <%= render 'requests/form' %>
          </div>
        </div>

        <!-- Display Cleaner's information -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">Pro Cleaner</h2>
          </div>
          <div class="col-md-4">
            <% if @listing.profile.image.attached? %>
              <%= image_tag(@listing.profile.image, size: "150x150") %>
            <% else %>
              <%= image_tag("avatar-pro.png", size: "150x150") %>
            <% end %>
          </div>
          <div class="col-md-4">
            Name: <br />
            <%= @listing.profile.first_name %> <%= @listing.profile.last_name %> <br /><br />
            National Police Check: <br />
            <%= @listing.profile.documentation.npc_reference %>
          </div>
          <div class="col-md-4">
            ABN: <br />
            <%= @listing.profile.documentation.abn_number %> <br /><br />
            Insured: <br />
            <%= @listing.profile.documentation.insured ? "Yes" : "No" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- Show reviews -->
    <% if @reviews.any? %>
      <div class="row mt-3">
        <h2 class="form-heading">Reviews</h2>
      </div>
      <div class="row mt-3">
        <%= render "partials/card_reviews", review_details: @review_details %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-3 mt-4">
        <% if ((user_signed_in?) && (current_user.profile) && (current_user.profile.user_type == "pro")) %>
          <%= link_to "Back", listings_path %>
        <% else %>
          <%= link_to "Back", root_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
