<% content_for(:html_title) { @listing.title } %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 mb-3">
        <% if @listing.image.attached? %>
          <%= image_tag(@listing.image, class: "thumb-300 mb-5") %>
        <% else %>
          <%= image_tag("placeholder.jpg", size: "thumb-300 mb-5") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading name-title"><%= @listing.title %></h2>
          </div>
          <div class="col-12">
            Rate per Hour: <br />
            <%= number_to_currency(@listing.rate_per_hour) %>
          </div>
          <div class="col-12 mt-3">
            Description: <br />
            <%= @listing.description %>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Service Areas -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Service Areas</h2>
        <ul>
          <% @service_areas.each do |area| %>
            <li><%= area.suburb.suburb %>, <%= area.suburb.state %> <%= area.suburb.postcode %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if current_user && current_user.profile %>
      <% if current_user.profile.user_type == "pro" %>
        <!-- Show edit and back to my listings button -->
        <div class="row mt-3">
          <div class="col-2">
            <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-outline" %>
          </div>
        </div>
      <% elsif current_user.profile.user_type == "customer" %>
        <!-- Display Customer's Property information -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">My Property Profile</h2>
          </div>
          <div class="col-md-6">
            <p><%= current_user.profile.property.property_type %></p>
          </div>
          <div class="col-md-6">
            <p><%= current_user.profile.property.description %></p>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <p><%= current_user.profile.property.storey %> - Storey</p>
                  </div>
                  <div class="col-md-4">
                    <p><%= current_user.profile.property.bed %> - Bed</p>
                  </div>
                  <div class="col-md-4">
                    <p><%= current_user.profile.property.bath %> - Bath</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <p>
                  <%= current_user.profile.property.street_address %> <br />
                  <%= current_user.profile.property.suburb.suburb %>, <%= @profile.property.suburb.state %>, <%= current_user.profile.property.suburb.postcode %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Display Customer's Request form -->
        <div class="row">
          <div class="col-12">
            <h2 class="form-heading">Service Time</h2>
          </div>
          <div class="col-12">
            <%= render 'requests/form' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- Display Cleaner's information -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Pro Cleaner</h2>
      </div>
      <div class="col-md-4">
        <% if @listing.profile.image.attached? %>
          <%= image_tag(@listing.profile.image, size: "150x112") %>
        <% else %>
          <%= image_tag("avatar-pro.png", size: "150x112") %>
        <% end %>
      </div>
      <div class="col-md-4">
        Name: <br />
        <%= @listing.profile.first_name %> <%= @listing.profile.last_name %> <br /><br />
        National Police Check: <br />
        <%= @listing.profile.documentation.npc_reference %>
      </div>
      <div class="col-md-4">
        ABN: <br />
        <%= @listing.profile.documentation.abn_number %> <br /><br />
        Insured: <br />
        <%= @listing.profile.documentation.insured ? "Yes" : "No" %>
      </div>
      <% if user_signed_in? %>
        <div class="col-12 mt-5">
          <%= link_to "Show Cleaner Profile", profile_path(@listing.profile.id) %>
        </div>
      <% end %>
    </div>

    <!-- Show reviews -->
    <% if @reviews.any? %>
      <div class="row mt-3">
        <h2 class="form-heading">Reviews</h2>
      </div>
      <div class="row mt-3">
        <%= render "partials/card_reviews", review_details: @review_details %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-3 mt-4">
        <% if ((user_signed_in?) && (current_user.profile) && (current_user.profile.user_type == "pro")) %>
          <%= link_to "Back", listings_path %>
        <% else %>
          <%= link_to "Back", root_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
