<p id="notice"><%= notice %></p>

<h1>Documentations</h1>

<table>
  <thead>
    <tr>
      <th>Npc reference</th>
      <th>Abn number</th>
      <th>Insured</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentations.each do |documentation| %>
      <tr>
        <td><%= documentation.npc_reference %></td>
        <td><%= documentation.abn_number %></td>
        <td><%= documentation.insured %></td>
        <td><%= documentation.profile_id %></td>
        <td><%= link_to 'Show', documentation %></td>
        <td><%= link_to 'Edit', edit_documentation_path(documentation) %></td>
        <td><%= link_to 'Destroy', documentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documentation', new_documentation_path %>
