<% content_for(:html_title) { 'Job' } %>

<div class="row justify-content-center">
  <div class="col-8">
    <!-- For Customer to pay for the job if not yet paid -->
    <% if current_user && @profile.user_type == "customer" && @payment.job_id == nil %>
      <div class="row text-center mb-5">
        <div class="col-12">
          <%= link_to "Pay Now", payment_path(job_id: @job.id), method: :post, class: "btn btn-submit" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-6">
        <!-- Listing Information -->
        <div class="row">
          <div class="col-5">
            <%= image_tag(@job.quote.request.listing.image, size: "150x150") %>
          </div>
          <div class="col-7">
            <h2 class="form-heading mt-0"><%= @job.quote.request.listing.title %></h2>
            Rate per Hour: <br />
            <%= @job.quote.request.listing.rate_per_hour %> <br /><br />
            <%= link_to "Check Listing", listing_path(@job.quote.request.listing.id) %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Customer Information -->
        <div class="row">
          <div class="col-5">
            <%= image_tag(@job.quote.request.property.profile.image, size: "150x150") %>
          </div>
          <div class="col-7">
            <h2 class="form-heading mt-0">Customer</h2>
            Name: <br />
            <%= @job.quote.request.property.profile.first_name %> <%= @job.quote.request.property.profile.last_name %>
          </div>
        </div>
      </div>
    </div>

    <!-- Property Profile -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Property Profile</h2>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <%= @job.quote.request.property.property_type %>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <%= @job.quote.request.property.storey %>-Storey
              </div>
              <div class="col-4">
                <%= @job.quote.request.property.bed %>-Bed
              </div>
              <div class="col-4">
                <%= @job.quote.request.property.bath %>-Bath
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <%= @job.quote.request.property.street_address %> <br />
                <%= @job.quote.request.property.suburb.name %>, <%= @job.quote.request.property.suburb.postcode.state.name %> <%= @job.quote.request.property.suburb.postcode.number %>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <%= @job.quote.request.property.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Service Time -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Service Time</h2>
      </div>
      <div class="col-6">
        Date <br />
        <%= @job.quote.request.service_date.strftime("%A, %d-%B-%Y") %>
      </div>
      <div class="col-6">
        Start Time <br />
        <%= @job.quote.request.start_time.strftime("%H:%M") %>
      </div>
    </div>

    <!-- Job Information -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Job #<%= @job.quote.id %></h2>
      </div>
      <div class="col-12 mb-3">
        <div class="row">
          <div class="col-3">
            Hours <br />
            <%= @job.quote.service_hour %>
          </div>
          <div class="col-3">
            Total Cost <br />
            $<%= @job.quote.total_cost %>
          </div>
          <div class="col-6">
            Quote <br />
            #<%= @job.quote.id %>
          </div>
        </div>
      </div>
      <% if @payment.job_id %>
        <div class="col-12 mb-3">
          Payment <br />
          Paid on <%= @payment.payment_date.strftime("%d-%B-%Y") %>
        </div>
      <% end %>
    </div>

    <!-- For Customer to pay for the job if not yet paid -->
    <% if current_user && @profile.user_type == "customer" && @payment.job_id == nil %>
      <div class="row mt-3">
        <div class="col-3">
          <%= link_to "Pay Now", payment_path(job_id: @job.id), method: :post, class: "btn btn-submit" %>
        </div>
      </div>
    <% end %>

    <!-- Allow Customer to leave a Review once job is paid -->
    <% if @profile.user_type == "customer" && @payment.job_id && !(@review.review_to) %>
      <div class="row mt-3">
        <div class="col-3">
          <%= link_to "Leave a Review", edit_review_path(@review.id), class: "btn btn-outline" %>
        </div>
      </div>
    <% end %>

    <!-- Display Cleaner's information -->
    <div class="row">
      <div class="col-12">
        <h2 class="form-heading">Pro Cleaner</h2>
      </div>
      <div class="col-4">
        <%= image_tag(@job.quote.request.listing.profile.image, size: "150x150") %>
      </div>
      <div class="col-4">
        Name: <br />
        <%= @job.quote.request.listing.profile.first_name %> <%= @job.quote.request.listing.profile.last_name %> <br /><br />
        National Police Check: <br />
        <%= @job.quote.request.listing.profile.documentation.npc_reference %>
      </div>
      <div class="col-4">
        ABN: <br />
        <%= @job.quote.request.listing.profile.documentation.abn_number %> <br /><br />
        Insured: <br />
        <%= @job.quote.request.listing.profile.documentation.insured ? "Yes" : "No" %>
      </div>
    </div>

    <!-- Show reviews -->
    <% if @review.review_from != nil %>
      <div class="row mt-3">
        <h2 class="form-heading">Review</h2>
      </div>
      <div class="row mt-3">
        <%= render "partials/card_reviews", review_details: @review_details %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-3">
        <%= link_to 'Back', jobs_path %>
      </div>
    </div>
  </div>
</div>
