<% listings.each do |listing| %>
  <% if current_page?(root_path) || current_page?(search_path) || current_page?(listings_path) || (current_page?(quotes_path) && !(listing.status.downcase == "quote accepted.")) || current_page?(jobs_path) %>
    <div class="col-md-4">
      <div class="card-deck">
        <div class="card">
          <% if current_page?(listings_path) || current_page?(root_path) || current_page?(search_path) %>
            <% if listing.image.attached? %>
              <%= image_tag listing.image, class: "card-img-top" %>
            <% else %>
              <%= image_tag "placeholder.jpg", class: "card-img-top" %>
            <% end %>
          <% elsif current_page?(quotes_path) %>
            <% if listing.request.listing.image.attached? %>
              <%= image_tag listing.request.listing.image, class: "card-img-top" %>
            <% else %>
              <%= image_tag "placeholder.jpg", class: "card-img-top" %>
            <% end %>
          <% elsif current_page?(jobs_path) %>
            <% if listing.quote.request.listing.image.attached? %>
              <%= image_tag listing.quote.request.listing.image, class: "card-img-top" %>
            <% else %>
              <%= image_tag "placeholder.jpg", class: "card-img-top" %>
            <% end %>
          <% end %>
          <h5 class="card-title">
            <% if current_page?(listings_path) || current_page?(root_path) || current_page?(search_path) %>
              <%= listing.title %>
            <% elsif current_page?(quotes_path) %>
              Quote #<%= listing.id %>
            <% elsif current_page?(jobs_path) %>
              Job #<%= listing.id %>
              <% if listing.payment %>
                 - PAID
              <% elsif !listing.payment %>
                <span class="text-danger">
                  <% if current_user.profile.user_type == "customer" %>
                     - PAY NOW
                  <% elsif current_user.profile.user_type == "pro" %>
                     - Awaiting Payment
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </h5>
          <p class="card-text price">
            <% if current_page?(listings_path) || current_page?(root_path) || current_page?(search_path) %>
              From <%= number_to_currency(listing.rate_per_hour) %> / hr
            <% elsif current_page?(quotes_path) %>
              <% if listing.service_hour && listing.total_cost && (listing.status.downcase == "quote sent.") %>
                <%= listing.service_hour %> hours for <%= number_to_currency(listing.total_cost) %>
                <% if (current_user.profile.user_type == "pro") && listing.date %>
                  <br /><%= listing.request.property.suburb.name %> - <%= listing.date.strftime("%a, %d/%m/%Y") %>
                <% else %>
                  <br /><span class="text-danger"><%= listing.status %> Please review.</span>
                <% end %>
              <% elsif listing.status.downcase == "request for a quote." %>
                <span class="text-danger"><%= listing.status %> <br />
                <% if current_user.profile.user_type == "pro" %>
                  Please review.
                <% else %>
                  <span class="text-secondary">Awaiting response.</span>
                <% end %>
                </span>
              <% elsif listing.status.downcase == "rejected." %>
                Quote was rejected. <br />
                ---
              <% end %>
            <% elsif current_page?(jobs_path) %>
              <%= listing.service_hour %> hours for <%= number_to_currency(listing.total_cost) %> <br />
              <%= listing.date.strftime("%a, %d/%m/%Y") %>
            <% end %>
          </p>
          <% if current_page?(root_path) || current_page?(search_path) %>
            <p class="card-text">
              <%= link_to "View", listing_path(listing.id), class: "btn btn-outline" %>
            </p>
          <% elsif current_page?(listings_path) %>
            <p class="card-text">
              <div class="row">
                <div class="col-md-4">
                  <%= link_to "Show", listing, class: "btn btn-outline" %>
                </div>
                <div class="col-md-4">
                  <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-outline" %>
                </div>
              </div>
            </p>
          <% elsif current_page?(quotes_path) %>
            <p class="card-text">
              <%= link_to "Show", quote_path(listing.id), class: "btn btn-outline" %>
            </p>
          <% elsif current_page?(jobs_path) %>
            <p class="card-text">
              <%= link_to "Show", job_path(listing.id), class: "btn btn-outline" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>