<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="/">Pro Cleaner Finder</a>

    <!-- Hamburger Menu -->
    <input class="menu-btn" type="checkbox" id="menu-btn" aria-label="Toggle mobile navigation" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <% if current_user.profile %>
          <li class="nav-item">
            <%= link_to "My Profile", profile_path(profile.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Quotes", quotes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Jobs", jobs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", coming_path, class: "nav-link" %>
          </li>
          <% if profile.user_type == "pro" %>
            <li class="nav-item">
              <%= link_to "My Listings", listings_path, class: "nav-link" %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "New Profile", new_profile_path(user_type: params[:user_type]), class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register as Pro", new_user_registration_path(user_type: "pro"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path(user_type: "customer"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
