<%= f.fields_for :property do |property_form| %>
  <div class="form-inputs">
    <%= property_form.input :property_type %>
    <%= property_form.input :storey %>
    <%= property_form.input :bed %>
    <%= property_form.input :bath %>
    <%= property_form.input :street_address %>
    <%= property_form.association :suburb %>
    <%= property_form.input :description %>
    <%= property_form.association :profile %>
  </div>
<% end %>
