<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Storey</th>
      <th>Bed</th>
      <th>Bath</th>
      <th>Street address</th>
      <th>Suburb</th>
      <th>Description</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type %></td>
        <td><%= property.storey %></td>
        <td><%= property.bed %></td>
        <td><%= property.bath %></td>
        <td><%= property.street_address %></td>
        <td><%= property.suburb_id %></td>
        <td><%= property.description %></td>
        <td><%= property.profile_id %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
