<%= simple_form_for(@request) do |f| %>
  <%  if flash[:error] || f.error_notification %>
    <div class="row">
      <div class="col-md-8">
        <p class="text-danger"><%= flash[:error] if flash[:error] %></p>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :service_date %> <br />
        <%= f.date_field :service_date, min: Date.today + 1 %>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <%= f.input :start_time, as: :time, minute_step: 15 %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <%= f.hidden_field :listing_id, value: params[:id] %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
        <%= f.button :submit, "Request a Quote", class: "btn btn-submit" %>
      </div>
<% end %>
