<!DOCTYPE html>
<html>
  <head>
    <title>ProCleanerFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/page_header', profile: @profile %>

    <main>
      <div class="container">
        <% if notice %>
          <div class="row justify-content-center mb-5">
            <div class="col-8">
              <p class="notice alert alert-secondary" role="alert"><%= notice %></p>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
    <%= render 'partials/cta_banner' if current_page?(root_path) %>
    <%= render 'partials/footer' %>
  </body>
</html>
